.jp_top_header_img_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: repeat-x;
    background-position: 0 34%,0 95%,0 0,0 100%,0 0;
    animation: 90s para infinite linear;
    .jp_slide_img_overlay {
        position: absolute;
        top: 0%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        background: rgba(14, 20, 39, 0.922);
    }
    .jp_banner_heading_cont_wrapper {
        width: 100%;
        padding-top: 60px;
        .jp_job_heading{
             h1 {
                font-size: 60px;
                color: #ffffff;
                span {
                    font-weight: bold;
                    color: #a6e043;
                }
            }
            p {
                font-size: 20px;
                color: rgba(255, 255, 255, 0.659);
                padding-top: 10px;
                line-height: 23px;
            }
            
        }
        .jp_banner_main_jobs_wrapper {
            width: 100%;
            margin-top: 40px;
            padding-bottom: 75px;
                li{
                    float: left;
                    margin-left: 20px;
                    i {
                        padding-right: 5px;
                        color: #a6e043;
                    }
                    a {
                        color: rgba(255, 255, 255, 0.81);
                        -webkit-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                    &:first-child {
                        margin-left: 0;
                        color: #ffffff;
                    }
                    
                }
        }
    }
}

.jp_banner_jobs_categories_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    .flex-box-cont {
            display: flex;
            height: 100%;
            flex-wrap: wrap;
        }
  
  .jp_top_jobs_category_wrapper {
        width: 25%;
        border-left: 1px solid rgba(255, 255, 255, 0.12941);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
        background: transparent;
        &:hover {
            background: #a6e043;
            box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.569);
            z-index: 2;
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1.5);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1.1);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1.1);
            transition: all 200ms ease-in;
            transform: scale(1.1);
            .jp_top_jobs_category {
                i{
                    color: rgba(14, 20, 39, 0.831);
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;
                }
            
            h3 a, p {
                    color: rgba(14, 20, 39, 0.831);
                }
            }
        }
        &:last-child {
            border-right: 1px solid rgba(255, 255, 255, 0.12941);
        }
    }
    
    .jp_top_jobs_category {
        i {
            color: #ffffff;
            font-size: 25px;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        h3 {
            padding-top: 15px;
            font-size: 16px;
            font-weight: bold;
            a {
                color: #ffffff;
            }
        }
        p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.722);
        padding-top: 5px;
        }
  }
}
.jp_header_form_wrapper {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    input {
      width: 100%;
      height: 50px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border: transparent;
      padding-left: 40px;
      padding-right: 20px;
    }
  }
  
  .jp_form_exper_wrapper input {
    width: 100%;
    height: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: transparent;
    padding-left: 40px;
    padding-right: 20px;
  }
  
  .jp_form_keyword_wrapper .first_icon {
    position: absolute;
    top: 17px;
    font-size: 20px;
    left: 30px;
    z-index: 1;
    color: #0e1427d4;
  }
  
  .jp_form_location_wrapper select, .jp_form_exper_wrapper select {
    width: 100%;
    height: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: transparent;
    padding-left: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
  }
  
  .jp_form_location_wrapper .second_icon, .jp_form_exper_wrapper .second_icon {
    margin-left: -30px;
    position: absolute;
    top: 19px;
  }
  
  .jp_form_location_wrapper .first_icon, .jp_form_exper_wrapper .first_icon {
    position: absolute;
    top: 17px;
    font-size: 20px;
    left: 30px;
    z-index: 1;
    color: #0e1427d4;
  }
  
  .jp_form_btn_wrapper {
    position: relative;
    li {
      a {
        &[href] {
          display: block;
          width: 100%;
          height: 50px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          border-radius: 15px;
          background: #a6e043;
          color: #0e1427d4;
          line-height: 50px;
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -moz-transition: all 0.5s;
          transition: all 0.5s;
          &:hover {
            background: #fdd014;
            color: #000000;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
          }
        }
        i {
          padding-right: 5px;
        }
      }
      &.adv_search {
        display: inline-block;
        margin-top: 6px;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.25px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        cursor: pointer;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
/*responsive css starts*/
@media (max-width: 600){
    .jp_banner_jobs_categories_wrapper{
        .jp_top_jobs_category_wrapper{
                width: 49%;
                border: 1px solid #ffffff21;
            }
        }
}
@media (max-width: 767px){
    .jp_top_header_img_wrapper{
         .jp_banner_heading_cont_wrapper{

            .jp_job_heading {
                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width: 991px){
    .jp_banner_jobs_categories_wrapper{
        .jp_job_cate_left_border_bottom {
            border-bottom: 1px solid #ffffff21;
        }
        .jp_top_jobs_category_wrapper {
            width: 49%;
            border: 1px solid #ffffff21;
        }
    }
    .jp_form_exper_wrapper, 
    .jp_form_btn_wrapper {
        margin-top: 20px;
    }
    .jp_form_btn_wrapper{
         li{
              a {
             width: 145px;
              }
            }
    }
    .jp_form_exper_wrapper {
        .first_icon, .second_icon {
             top: 37px;
        }
    }

}
/*responsive css ends*/