
//top-hiring companies
.top-hiring-companies-wrap{

.jp_hiring_slider_main_wrapper {
float: left;
width: 100%;
background: $clr-white;
border: 1px solid $clr-border;
border-radius: 10px;
padding-left: 35px;
padding-right: 35px;
padding-top: 40px;
padding-bottom: 40px;
}

.jp_hiring_heading_wrapper h2 {
font-size: 20px;
color: #000000;
font-weight: 900;
text-transform: uppercase;
position: relative;
}

.jp_hiring_heading_wrapper h2:after {
content: '';
border: 1px solid $pri_clr_green;
width: 30px;
position: absolute;
bottom: -15px;
left: 11px;
}

.jp_hiring_heading_wrapper h2:before {
content: '';
border: 1px solid $pri_clr_green;
width: 8px;
position: absolute;
bottom: -15px;
left: 0;
}

.jp_hiring_slider_wrapper {
float: left;
width: 100%;
margin-top: 50px;
}

.jp_hiring_slider_wrapper .owl-theme .owl-dots {
display: none;
}

.jp_hiring_slider_wrapper .owl-theme .owl-nav {
position: absolute;
top: -74px;
margin: 0;
left: 0;
right: 0;
z-index: 1000;
display: block;
}

.jp_hiring_slider_wrapper .owl-theme .owl-prev {
font-size: 26px;
margin: 0;
padding: 0;
right: 30px;
top: 0;
color: #dedede;
background: none;
position: absolute;
text-align: center;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_hiring_slider_wrapper .owl-theme .owl-next {
font-size: 26px;
margin: 0;
padding: 0;
right: 0;
top: 0;
right: 0;
position: absolute;
color: #dedede;
background: none;
text-align: center;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_hiring_slider_wrapper .owl-theme .owl-prev:hover, .owl-theme .owl-next:hover {
color: $clr_head_grey;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_hiring_content_main_wrapper {
float: left;
width: 100%;
background: $clr-white;
border: 1px solid $clr-border;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 5px;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_hiring_content_wrapper {
display: inline-block;
}

.jp_hiring_content_wrapper h4 {
font-size: 14px;
color: #000000;
text-transform: uppercase;
font-weight: bold;
padding-top: 30px;
}

.jp_hiring_content_wrapper p {
font-size: 14px;
padding-top: 5px;
}

.jp_hiring_content_wrapper li a {
float: left;
width: 110px;
height: 30px;
line-height: 30px;
text-align: center;
color: $clr-white;
background: #0e1427;
font-size: 12px;
font-weight: bold;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_hiring_content_wrapper img {
width: auto !important;
display: inline-block !important;
}

.jp_hiring_content_main_wrapper:hover {
border-color: $pri_clr_green;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

}
