//job seeker

.job-seeker-wrap{

.job-seeker_header_wrapper{
background: $clr_head_grey;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
-webkit-border-top-left-radius: 10px;
-moz-border-top-left-radius: 10px;
border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-top-right-radius: 10px;
border-top-right-radius: 10px;
}

.job-seeker_header_wrapper h4 {
font-size: 16px;
color: $clr-white;
}

.jb_seeker_content{
float: left;
width: 100%;
background: $clr-white;
padding:0px 0px 0px 0px;
border: 1px solid $clr-border;
border-top: 0;
-webkit-border-bottom-left-radius: 10px;
-moz-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-bottom-right-radius: 10px;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
.jb_seeker_content ul {
margin-top: 20px;
}
.jb_seeker_content li {
padding: 15px;
border-bottom: 1px solid #eee;
}
.jb_seeker_content a {
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
.jb_seeker_content:hover {
color: $clr_head_grey;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jb_seeker_content li:first-child {
margin-top: 0;
}
.jb_seeker_content i {
padding-right: 5px;
color: $clr_head_grey;
}
.jb_seeker_content span {
float: right;
}
.jb_seeker_content a span {
color: $clr_head_grey;
}
.jb_seeker_content li:last-child:hover a, .jb_seeker_content li:last-child:hover i {
color: $clr_head_grey;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

}