// categories
.job-by-category-wrap{

.jp_rightside_job_categories_wrapper {
margin-top: 30px;
}

.jp_rightside_job_categories_heading{
  background: #0e1427;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.jp_rightside_job_categories_heading h4 {
  font-size: 16px;
  color: #fff;
}

.jp_rightside_job_categories_content {
  float: left;
  width: 100%;
  background: #fff;
  padding: 0px 20px 20px 20px;
  border: 1px solid #e9e9e9;
  border-top: 0;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.jp_rightside_job_categories_content ul {
  margin-top: 20px;
}
.jp_rightside_job_categories_content li {
  margin-top: 20px;
}
.jp_rightside_job_categories_content li a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.jp_rightside_job_categories_content li a:hover {
  color: #0e1427 d4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.jp_rightside_job_categories_content li:first-child {
  margin-top: 0;
}
.jp_rightside_job_categories_content li i {
  padding-right: 5px;
  color: #f36969;
}
.jp_rightside_job_categories_content li span {
  float: right;
}
.jp_rightside_job_categories_content li a span {
  color: #f36969;
}
.jp_rightside_job_categories_content li:last-child a {
  font-size: 14px;
  font-weight: bold;
  color: #0e1427 d4;
  text-transform: uppercase;
}
.jp_rightside_job_categories_content li:last-child i {
  color: #0e1427 d4;
}
.jp_rightside_job_categories_content li:last-child:hover a, .jp_rightside_job_categories_content li:last-child:hover i {
  color: #f36969;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

}