
//job by skills

.job-by-skills-wrap {

.jp_spotlight_main_wrapper {
width: 100%;
margin-top: 30px;
}

.spotlight_header_wrapper {
float: left;
width: 100%;
background: $clr_head_grey;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
-webkit-border-top-left-radius: 10px;
-moz-border-top-left-radius: 10px;
border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-top-right-radius: 10px;
border-top-right-radius: 10px;
}

.spotlight_header_wrapper h4 {
font-size: 16px;
color: $clr-white;
}

.jp_spotlight_slider_wrapper {
float: left;
width: 100%;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 40px;
background: $clr-white;
border: 1px solid $clr-border;
border-top: 0;
-webkit-border-bottom-left-radius: 10px;
-moz-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.owl-theme .owl-dots {
display: none;
}

.owl-theme .owl-nav {
position: absolute;
top: -66px;
margin: 0;
left: 0;
right: 0;
z-index: 1000;
display: block;
}

.owl-theme .owl-prev {
font-size: 26px;
margin: 0;
padding: 0;
right: 20px;
top:0;
color: rgba(255, 255, 255, 0.25);
background: none;
position: absolute;
text-align: center;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.owl-theme .owl-next {
font-size: 26px;
margin: 0;
padding: 0;
top:0px;
right: -10px;
position: absolute;
color: rgba(255, 255, 255, 0.25);
background: none;
text-align: center;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.owl-theme .owl-prev:hover, .owl-theme .owl-next:hover {
color: rgba(255, 255, 255, 0.75);
background: none;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_spotlight_slider_cont_Wrapper h4 {
font-size: 16px;
color: #000000;
font-weight: bold;
padding-top: 40px;
}

.jp_spotlight_slider_cont_Wrapper p {
font-size: 16px;
color: #797979;
padding-top: 5px;
}

.jp_spotlight_slider_cont_Wrapper i {
color: #f36969;
}

.jp_spotlight_slider_cont_Wrapper li:first-child {
margin-left: 0;
color: #000000;
font-size: 16px;
font-weight: bold;
}

.jp_spotlight_slider_cont_Wrapper li:last-child {
color: #797979;
font-size: 16px;
margin-top: 20px;
}

.jp_spotlight_slider_btn_wrapper {
float: left;
width: 100%;
text-align: center;
}

.jp_spotlight_slider_btn ul {
display: inline-block;
margin-top: 35px;
}
.jp_spotlight_slider_btn li a {
float: left;
width: 160px;
height: 50px;
text-align: center;
line-height: 50px;
font-weight: bold;
background: $pri_clr_green;
color: $clr_head_grey;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}
.jp_spotlight_slider_btn li a:hover {
background: $pri_clr_yellow;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

}