
//News ticker
.notification-bar-wrap{

.jp_news_ticker_wrapper {
position: relative;
margin-bottom: 30px;
}

.jp_news_ticker_wrapper .head-text {
position: absolute;
top: 1px;
bottom: 1px;
left: 1px;
padding: 0 15px;
background: $clr_head_grey;
color: #fff;
font-size: 16px;
line-height: 48px;
z-index: 8;
border-radius: 10px 18px 0 10px;
}

.jp_news_ticker_wrapper .news-ticker {
position: relative;
padding: 0 0 0 135px;
background: #fff;
border: 1px solid $clr-border;
border-radius: 10px;
font-size: 16px;
text-align: center;
}

.jp_news_ticker_wrapper .news-ticker:before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1;
// box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 1);
border-radius: 10px;
}

.jp_news_ticker_wrapper .news-ticker .item {
font-size: 18px;
line-height: 50px;
}

@media (max-width:768px) {
.jp_news_ticker_wrapper {

.news-ticker {
padding: 0 0 0 135px;
font-size: 12px;
}
.news-ticker .item {
font-size: 16px;
line-height: 30px;
}
.head-text {
    padding: 0 5px;
    font-size: 14px;
    line-height: 40px;
}

}
}
}