
// Upcoming Trainings
.upcoming-training{

.jp_rightside_career_wrapper {
margin-top: 30px;
}

.jp_rightside_career_heading {
float: left;
width: 100%;
background: #0e1427d4;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
-webkit-border-top-left-radius: 10px;
-moz-border-top-left-radius: 10px;
border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-top-right-radius: 10px;
border-top-right-radius: 10px;
}

.jp_rightside_career_heading h4 {
font-size: 16px;
color: #fff;
}

.jp_rightside_career_main_content {
float: left;
width: 100%;
background: #ffffff;
padding-bottom: 40px;
border: 1px solid #e9e9e9;
border-top: 0;
-webkit-border-bottom-left-radius: 10px;
-moz-border-bottom-left-radius: 10px;
border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-bottom-right-radius: 10px;
border-bottom-right-radius: 10px;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
-ms-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
}

.jp_rightside_career_content_wrapper {
float: left;
width: 100%;
padding-top: 40px;
padding-left: 30px;
}

.jp_rightside_career_img {
float: left;
width: 80px;
}
.jp_rightside_career_img_cont {
  float: left;
  width: calc(100% - 80px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.jp_rightside_career_img_cont h4 {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.jp_rightside_career_img_cont p {
  font-size: 12px;
  padding-top: 3px;
}
.jp_rightside_career_img_cont p i {
  color: #f36969;
  font-size: 14px;
  font-weight: bold;
}
.jp_rightside_career_btn {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.jp_rightside_career_btn a {
  padding-left: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #0e1427 d4;
  text-transform: uppercase;
}
.jp_rightside_career_btn a i {
  padding-right: 5px;
  color: #0e1427 d4;
}
.jp_rightside_career_btn:hover a {
  color: #f36969;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.jp_rightside_career_btn:hover a i {
  color: #f36969;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

}
