.breadcrumb-section{
        background: url(../images/pricing_tittle_bg.jpg) 50% 0 repeat-y;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        position: relative;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    .jp_tittle_img_overlay {
        position: absolute;
        top: 0%;
        right: 0%;
        left: 0%;
        bottom: 0%;
        background: rgba(14, 20, 39, 0.8509803921568627);
    }
    .breadcrumb {
        

        li{
           

            a.active, a.selected, &:last-child a {
               
            }

            a{
               

                &:hover, &:focus{
                    
                }

                
            }

            + li{
               
                
                &:before{
                    
                }
            }

            &:last-child{
              
            }
        }
    }

}