.call-to-action{
    .jp_best_deal_main_cont_wrapper{
        float:left;
        width:100%;
        background:$clr-white;
        padding:40px;
        border:1px solid $clr-border;
        margin-top:35px;
        /*border-bottom:1px solid #22b5db;*/
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .jp_best_deal_main_cont_wrapper:hover{
        /*border-bottom:1px solid #f36969;*/
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid #d4d4d4;
    }
    .jp_best_deal_main_cont_wrapper:hover .jp_best_deal_cont_sec h4 a{
        color:$pri_clr_green;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .jp_best_deal_main_cont_wrapper:hover .jp_best_deal_icon_sec i:before{
        color:$pri_clr_green;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .round-corners{
        border-radius: 10px;
    }
    .remove-margin-top-full{
        margin-top:0px;
    }
    .add-margin-top2{
        margin-top:15px;
    }
    .jp_best_deal_icon_sec{
        float:left;
        width:40px;
        padding-top: 10px;
    }
    .jp_best_deal_icon_sec i:before {
        font-size: 35px;
        color: $clr-black;
        margin-left: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .jp_best_deal_cont_sec{
        float:left;
        width:calc(100% - 40px);
        padding-left:20px;
    }
    .jp_best_deal_cont_sec h4{
        font-size:20px;
    }
    .jp_best_deal_cont_sec h4 a{
        color:$clr-black;
        font-weight:bold;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    .jp_best_deal_cont_sec p{
        padding-top:15px;
        color:#797979;
    }
}