$pri_clr_green: #a6e043;
$pri_clr_red: #ee3449;
$pri_clr_yellow: #fdd014;
$pri-clr-grey: #000000b3;
$clr_head_grey: #0e1427d4;
$clr-overlay-grey: #0e1427eb;
$clr-border: #e9e9e9;
$clr-white: #ffffff;
$clr-black: black;


/*primary logo colors*/

.pri-clr-green{
    color:  #a6e043;
}

.pri-clr-red{
    color: #ee3449;
}
.pri-clr-yellow{
    color: #fdd014;
}
.pri-clr-grey{
    color: #000000b3;
}

/*secondry colors*/
.clr-head-grey{
    color: #0e1427d4;
}
.clr-overlay-grey{
    color: #0e1427eb;
}
.clr-border{
    color: #e9e9e9;
}
.clr-white{
    color: #ffffff;
}
.clr-black{
    color: black;
}